.floating-bubbles {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  grid-template-rows: 10vh auto auto 10vh;
  grid-template-areas:
    ". . ."
    ". gamescreen ."
    ". history ."
    ". . .";
}

.floating-bubbles .gamescreen {
  grid-area: gamescreen;
}
.floating-bubbles .gamescreen .floating-head {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--red);
}
.floating-choose {
  display: flex;
  justify-content: center;
  align-items: center;
}
.floating-head .floating-down {
  background: var(--red);
  color: var(--white);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  width: max-content;
}
.floating-head .floating-up {
  background: var(--red);
  margin: 0.5rem;
  color: var(--white);
  padding: 0.5rem 1rem;
}
.floating-bubbles .gamescreen .floating-game {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    ". bubbles ."
    ". result .";
  min-height: 30vh;
}
.floating-bubbles .gamescreen .floating-game .bubbles {
  grid-area: bubbles;
  display: flex;
  justify-content: center;
  align-items: center;
}
.floating-result {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: result;
}
.bubble {
  background: var(--red);
  color: var(--white);
  padding: 1rem;
  margin: 0.4rem;
}

.truefalse {
  grid-area: history;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.true {
  width: 30px;
  height: 30px;
  background: #98fb98;
  margin: 0.1rem;
}
.false {
  width: 30px;
  height: 30px;
  background: #8b0000;
  margin: 0.1rem;
}
