.hero {
  height: 75vh;
  width: 100%;
  display: flex;
  padding: 3rem;
  font-size: 1.6rem;
  color: var(--black);
  background: var(--white);
  justify-content: flex-start;
  align-items: center;
  color: var(--red);
  border-bottom: 4px solid var(--red);
}
