@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --red: #bb285b;
  --red-flavor: #bb285bab;
  --red-flavor2: #e72a6c;
  --black: #2d2e32;
  --white: #fffafa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
