.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--black);
  border-bottom: 4px solid var(--red);
}

.logo a {
  text-decoration: none;
  color: var(--black);
}

.right {
  height: 9vh;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
}
.navbar a {
  color: var(--black);
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.navbar p:hover {
  cursor: pointer;
}

.github a {
  color: var(--black);
}

.listofgames {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". games .";
}
.games {
  grid-area: games;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.game {
  background: var(--white);
  padding: 0.5rem 1rem;
  margin: 2rem;
}
.game a {
  color: var(--red);
}
